.micro {
    margin-top: -100px;
    margin-left: 40px;
    
}
.veeam {
    margin-top: -100px;
    margin-left: 60px;
    
}
.vmware{
    margin-top: -100px;
    margin-left: 60px;
    
}
.sales {
    margin-top: -100px;
    margin-left: 60px;
    
}